
.calendarDiv{
    width: 250px;
    -webkit-box-shadow: 0 0 3px #dcdcdc;
    -moz-box-shadow: 0 0 3px #dcdcdc ;
    box-shadow: 0 0 3px #dcdcdc ;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    position: fixed;
    z-index: 99;
    background-color: white;
    display: none;
}
.calendarDiv header{
    width: 100%;
    height: 30px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.calendarDiv header .year{
    font-size: 16px;
    font-weight: 700;
}
.calendarDiv-header-left,.calendarDiv-header-right{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
}
.calendarDiv section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.calendarDiv section div{
    width: 30%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}
.calendarDiv section div.active{
    background-color: #009200 ;
    color: white;
}